{% extends "base_site.html" %}

{% block title %} Resource Aktif {% endblock title %}

{% block stylesheets %}
{{ super() }}

<link href="{{ url_for('static', filename='assets/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/img/brand/favicon.png') }}" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- Icons -->
<link href="{{ url_for('static', filename='assets/js/plugins/nucleo/css/nucleo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css') }}"
    rel="stylesheet">
<!-- CSS Files -->
<link href="{{ url_for('static', filename='assets/css/argon-dashboard.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="container-fluid" style="padding-top: 20px;padding-left: 10px;">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <form class="forms-sample" method="POST" id="downloadreport" role="form">
                        <div class="card-content bg-transparent">
                            <h3 class="mb-0">Daily Activity : {{ tanggal }}</h3>
                        </div>

                        <div class="card-header bg-transparent">
                            <input type="date" class="form-control col-sm-2 form-control-sm" name="tanggal"
                                id="dateDefault" data-date="" value="" required>
                            <div class="pl-3">
                                <button type="submit" name='show' id="show" class="btn btn-primary btn-sm"> Show
                                </button>
                                <button type="submit" name='ddownload' id="daily" class="btn btn-success btn-sm"> Report
                                    Daily </button>
                            </div>
                            <!-- <button type="submit" name='mdownload' id="monthly" class="btn btn-danger btn-sm" > Report Monthly </button> -->
                            <!-- <a href="/download" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"> Download </a> -->
                            <!-- <a href="/downloadl" class="btn btn-success btn-sm active" role="button" aria-pressed="true"> Last Month </a> -->

                        </div>
                        <!-- <div class="card-header bg-transparent">
                            <input type="month" class="form-control col-sm-3 form-control-sm" name="tanggallahir" id="tanggallahir" data-date=""  required>
                        </div> -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display table table-striped table-bordered   "
                                    style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;width: 25%"> Nama Karyawan </th>
                                            <!-- <th style="text-align: center;;width: 10%"> Tanggal </th> -->
                                            <th style="text-align: center;"> Active Boards </th>

                                            <!-- <th> Site </th> -->
                                            <!-- <th> Supervisor </th> -->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for assignment in proj %}
                                        <tr>
                                            <td> {{assignment["fullname"]}} </td>
                                            <td> <a href="/board_detail/{{ assignment['board_id'] }}">
                                                    {{assignment["name"] | default("-",True) }} </a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>









{% endblock content %}

{% block javascripts %}



<script src="{{ url_for('static', filename='assets/js/plugins/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.extension.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Argon JS -->
<script src="{{ url_for('static', filename='assets/js/argon-dashboard.js') }}"></script>

<script type="text/JavaScript">
    $('#example').DataTable({
    "pageLength": 25,
    "language": {
        "paginate": {
            "previous": "Prev",
            "last": "Next",
        }
    }

    } );

    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month;


    // document.getElementById('bulan').value = today;

</script>
<script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        };
        if (m < 10) {
            m = "0" + m;
        };

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
</script>
<script type="text/Javascript">

</script>

{% endblock javascripts %}





{% block extra_javascripts %}
{% endblock extra_javascripts %}