coveralls
coverage
pytest
flake8
flake8-print
pep8-naming
selenium
-r requirements.txt
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability