{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='assets/css/bulma.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="container-fluid" style="padding-top: 20px;padding-left: 10px;">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-content bg-transparent">
                        <h3 class="mb-0">Tambah Penilaian Karyawan {{ userid }} </h3>
                    </div>
                    <div class="card-body">

                        <form class="forms-sample" method="POST" id="addkaryawan" role="form">
                            <div class="form-group row">
                               

                            </div>

                            
                            <div class="form-group row">
                                <label for="exampleInputEmail3" class="col-sm-3 col-form-label form-control-sm">Performance Score</label>
                                <select name="performance"
                                    class="js-example-basic-single col-sm-3 form-control-sm col-sm-3">
                                    <option value="1">Low 1</option>
                                    <option value="2">Low 2</option>
                                    <option value="3">Low 3</option>
                                    <option value="4.5">Medium 1</option>
                                    <option value="5.5">Medium 2</option>
                                    <option value="6.5">Medium 3</option>
                                    <option value="8">High 1</option>
                                    <option value="9">High 2</option>
                                    <option value="10">High 3</option>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label for="exampleInputEmail3" class="col-sm-3 col-form-label form-control-sm">Potential Score</label>
                                <select name="potential"
                                    class="js-example-basic-single col-sm-3 form-control-sm col-sm-3">
                                    <option value="1">Low 1</option>
                                    <option value="2">Low 2</option>
                                    <option value="3">Low 3</option>
                                    <option value="4.5">Medium 1</option>
                                    <option value="5.5">Medium 2</option>
                                    <option value="6.5">Medium 3</option>
                                    <option value="8">High 1</option>
                                    <option value="9">High 2</option>
                                    <option value="10">High 3</option>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label for="exampleInputEmail3" class="col-sm-3 col-form-label form-control-sm">Attitude Score</label>
                                <select name="attitude"
                                    class="js-example-basic-single col-sm-3 form-control-sm col-sm-3">
                                    <option value="1">Low 1</option>
                                    <option value="2">Low 2</option>
                                    <option value="3">Low 3</option>
                                    <option value="4.5">Medium 1</option>
                                    <option value="5.5">Medium 2</option>
                                    <option value="6.5">Medium 3</option>
                                    <option value="8">High 1</option>
                                    <option value="9">High 2</option>
                                    <option value="10">High 3</option>
                                </select>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="submit" name='register' id="register"
                                        class="btn btn-success btn-sm">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "site_template/footer.html" %}

    </div>
</div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}