{% extends "base_site.html" %}

{% block title %} Karyawan {% endblock title %}

{% block stylesheets %}
{{ super() }}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="{{ url_for('static', filename='assets/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/img/brand/favicon.png') }}" rel="icon" type="image/png">

<link href="{{ url_for('static', filename='assets/js/plugins/nucleo/css/nucleo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='assets/css/argon-dashboard.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="container-fluid" style="padding-top: 30px;">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        {% if current_user.role == 2 %}
                        <h3 class="mb-0">Daftar Karyawan</h3>
                        {% elif current_user.role == 6 %}
                        <h3 class="mb-0">Daftar Karyawan SDO</h3>
                        {% else %}
                        <h3 class="mb-0">Daftar Karyawan</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display table table-striped table-bordered"
                                style="width: 100%;line-height: 0.1rem">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;"> No </th>
                                        <th style="text-align: center;"> Nama Karyawan </th>
                                        <th style="text-align: center;width: 5%;"> NIK </th>
                                        <th style="text-align: center;"> Lama Bekerja</th>
                                        <th style="text-align: center;"> Posisi </th>
                                        <th style="text-align: center;"> Divisi </th>
                                        <th style="text-align: center;"> Resource </th>
                                        <th style="text-align: center;"> Jurusan </th>
                                        <th style="text-align: center;"> Pendidikan </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% set count = namespace(value=1) %}
                                    {% for karyawan in karyawan %}
                                    <tr>
                                        <td align="right"> {{ count.value }} </td>
                                        {% set count.value = count.value + 1 %}
                                        <td> <a
                                                href="/user_detail/{{ karyawan['user_id'] }}">{{karyawan["fullname"]}}</a>
                                        </td>
                                        <td align="right"> {{karyawan["nikkaryawan"] | default("",True)}} </td>
                                        <td align="right"> {{karyawan["year"]}} Tahun {{karyawan["month"]}} Bulan
                                            {{karyawan["day"]}} Hari</td>
                                        <td align="left"> {{karyawan["posisi"]}} </td>
                                        <td align="left"> {{karyawan["divisi"]}} </td>
                                        <td align="left"> {{karyawan["resource"]}} </td>
                                        <td align="left"> {{karyawan["jurusan"] | default("",True)}} </td>
                                        <td> {{karyawan["pendidikan"]| default("",True)}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









{% endblock content %}

{% block javascripts %}



<script src="{{ url_for('static', filename='assets/js/plugins/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.extension.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Argon JS -->
<script src="{{ url_for('static', filename='assets/js/argon-dashboard.js') }}"></script>

<script type="text/JavaScript">
    $('#example').DataTable({
    "pageLength": 25,
    "language": {
        "paginate": {
            "previous": "Prev",
            "last": "Next",
        }
    }

    } );
</script>

{% endblock javascripts %}





{% block extra_javascripts %}
{% endblock extra_javascripts %}