{% extends "base_site.html" %}

{% block title %} Karyawan {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  
    <link href="{{ url_for('static', filename='assets/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/img/brand/favicon.png') }}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    
    <!-- Icons -->
    <link href="{{ url_for('static', filename='assets/js/plugins/nucleo/css/nucleo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/argon-dashboard.css') }}" rel="stylesheet">
    
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid" style="padding-top: 20px;padding-left: 10px;">
        
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <h3 class="mb-0">Daftar Client PMO</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 20%;%"> Nama Client</th>
                                        <th style="text-align: center;"> Contact </th>
                                        <!-- <th> Site </th> -->
                                        <!-- <th> Supervisor </th> -->

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cl in client %}
                                    <tr>
                                        <td> {{cl["nama"] }} </td>
                                        <td> {{cl["alamat"] }} </td>
                                   
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





       

{% endblock content %}

 {% block javascripts %}

 

<script src="{{ url_for('static', filename='assets/js/plugins/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/chart.js/dist/Chart.extension.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    
    <!-- Argon JS -->
    <script src="{{ url_for('static', filename='assets/js/argon-dashboard.js') }}"></script>

<script type = "text/JavaScript">
    $('#example').DataTable({
    "pageLength": 10,
    "language": {
        "paginate": {
            "previous": "Prev",
            "last": "Next",
        }
    }

    } );
</script>

  {% endblock javascripts %}





{% block extra_javascripts %}
{% endblock extra_javascripts %}