
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-sm-left text-muted">
              <a href="https://github.com/sxpistols" class="small" >Crafted By Arief Dolants</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-sm-end">
              <li class="nav-item">
                &copy; <a href="https://www.creative-tim.com/product/argon-dashboard" class="small">Creative Tim Coded by AppSeed</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
